.hero {
  margin-bottom: 20px;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  max-width: 320px;
  padding: 0;
}

.heroLeft,
.heroRight {
  display: none;
}

.heroCenter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
}

.heroCenterTop {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.heroCenterTopImg {
  border-radius: 10px;
}

.heroCenterCenter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroParagraphOne {
  font-size: 46px;
  line-height: 1;
  letter-spacing: -0.04em;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #484848;
}

.heroTitle {
  font-size: 94px;
  line-height: 1;
  letter-spacing: -0.06em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #484848;
}

.heroParagraphTwo {
  font-size: 16px;
  letter-spacing: 0.1em;

  font-family: "Poppins", sans-serif;
  font-weight: 400;

  text-transform: uppercase;
  text-align: center;
  color: #484848;
}

.heroBtn {
  color: #ffffff;
  outline: none;
  border: none;
  /* width: 207px;
  height: 56px; */
  width: 157px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
  background: #000;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 8px;
}

.heroBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  z-index: -1;
  transition: left 0.5s ease;
  background: linear-gradient(
    to right,
    rgba(224, 224, 224, 0) 0%,
    #e0e0e0 50%,
    rgba(224, 224, 224, 0) 100%
  );
}

.heroBtn:hover::before {
  left: 0;
}

.heroBtn:hover {
  background: transparent;
  color: #000;
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 27px;
  }

  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .heroRight {
    display: none;
  }

  .heroLeft {
    display: flex;
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 50%;
    height: 600px;
    align-items: flex-end;
    justify-content: center;
  }

  .heroCenter {
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 20px; */
  }

  .heroBtn {
    width: 207px;
    height: 56px;
  }

  .heroCenterTop,
  .heroCenterBottom {
    display: flex;
    background-color: #e0e0e0;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: center;
  }

  .heroParagraphOne {
    font-size: 61px;
  }

  .heroTitle {
    font-size: 127px;
  }

  .heroParagraphTwo {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .heroLeft,
  .heroRight {
    display: flex;
    width: 392px;
    height: 756px;
  }

  .container {
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
    padding-left: 0;
  }

  .heroCenter {
    width: 426px;
    height: 756px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .heroParagraphOne {
    font-size: 91px;
  }

  .heroTitle {
    font-size: 187px;
  }

  .heroParagraphTwo {
    font-size: 20px;
  }

  .heroRight {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 392px;
    height: 756px;
  }
}

/* Спільні стилі для зображень */
.heroLeftImg,
.heroRightImg,
.heroCenterTopImg,
.heroCenterBottomImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
