.brand {
  display: flex;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
}

.brandCarousel {
  overflow: hidden;
  position: relative;
}

.brandTrack {
  display: flex;
  align-items: center;
}

.brandImg {
  flex: 0 0 auto;
  width: 98px;
  object-fit: contain;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .brand {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .brandImg {
    width: 147px;
    margin: 0 15px;
  }
}

@media (min-width: 1280px) {
  .brand {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .brandImg {
    width: 196px;
    margin: 0 20px;
  }
}

.brandCarousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.brandTrack {
  display: flex;
  align-items: center;
}

.brandImg {
  flex: 0 0 auto;
  width: 196px;
  object-fit: contain;
  margin: 0 20px;
}
