.brand {
  display: flex;
  align-items: center;
  height: 150px;
}

.brandCarousel {
  overflow: hidden;
  position: relative;
}

.brandTrack {
  display: flex;
  align-items: center;
}

.brandImg {
  flex: 0 0 auto;
  width: 98px;
  object-fit: contain;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .brand {
    height: 175px;
  }

  .brandImg {
    width: 147px;
    margin: 0 15px;
  }
}

@media (min-width: 1280px) {
  .brand {
    height: 200px;
  }

  .brandImg {
    width: 196px;
    margin: 0 20px;
  }
}

.brandCarousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.brandTrack {
  display: flex;
  align-items: center;
}

.brandImg {
  flex: 0 0 auto;
  width: 196px;
  object-fit: contain;
  margin: 0 20px;
}
