.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #dbdbdb;
    border-radius: 0 30px 30px 0;
    height: 100%;
}

.overlay {
    padding: 60px;
}

.containerImg {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/photo/SingInLogout/singUp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rightContainer {
    padding: 70px 70px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.terms {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
    color: #000;
    text-align: right;
}